.TchatSender {
    height: 32px;
    text-align: left;
}
.TchatSender > * {
    vertical-align: middle;
}
.TchatSender>form>input[type=text]{
    height: 40px;
    margin-top: 25px;
    outline: none;
    border:none;
    border-bottom: rgba(255, 99, 71, 0.65);
    font-size: 38px;
    margin-left: 5px;
    width: calc(100% - 150px);
    color: rgb(109, 166, 189);
}
