.Tchat {
    height: calc(100vh - 150px);
    border-top: 1px solid lightgrey;
}
.error {
    text-align: center;
    font-size: xx-large;
    color: tomato;
    font-weight: 900;
    width: 100%;
    position: absolute;
    top: 100px;
    background-color: lightgrey;
    height: 100%;
}
.errorContent::before{
    content: 'NICKNAME - ERROR :';
    display: block;
    margin-bottom: 20px;
    color: black;
    text-decoration: underline;
    font-weight: 600;
    text-align: left;
}
    .errorContent {
    position: absolute;
    top: 150px;
    left: 25%;
    right: 25%;
    padding: 20px 50px 15px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 8px 8px 15px black;
}
