.TchatReader{
    height: calc(100vh - 230px);
    overflow-y: scroll;
}
.TchatMessage{
    border-radius:5px ;
    background-color: lightcoral;
    width: max-content;
    max-width: 55%;
    padding:10px;
    margin-bottom:15px;
    margin-left:15px;
    display: inline-block;
    color: white;
    font-size: large;
    min-width: 250px;
}
.mine{
    background-color: lightseagreen;
    margin-right: 15px;
}